version: '3.0'

services:

  otel-j-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: otel-j-app:latest
    container_name: otel-j-app
    hostname: otel-j-app
#    depends_on:
#      - collector
    ports:
      - "1111:1111"
    env_file:
      - otel-agent.env
    environment:
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      #- OTEL_LOGS_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://collector:4318
      #- OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      #- OTEL_EXPORTER_OTLP_ENDPOINT=http://collector:4317
      - OTEL_RESOURCE_ATTRIBUTES=service.name=otel-j-app,service.version=1.0,deployment.environment=development
      - OTEL_LOG_LEVEL=info
      - OTEL_EXPORTER_OTLP_INSECURE=true
    healthcheck:
      interval: 5s
      retries: 10
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:1111/hello || exit 1

networks:
  default:
    name: otel
